.element__like {
    background: transparent;
    box-sizing: border-box;
    border: 0;
    background-image: url('../../../images/heart.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    margin-bottom: 3px;
    padding: 0 15px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.element__like:hover {
    opacity: .5;
}